body{
  background-image: linear-gradient(to right top, #d16ba5, #dd739a, #e57d90, #e88889, #e99585, #e8a27e, #e3af7b, #dabd7e, #c6cf87, #aae09f, #87efc4, #5ffbf1);
  background-repeat: no-repeat;
  width: 100%;
}